
.container{
  width: 100%;
  height: auto;
}
.content{
  justify-content: center;
  display:flex;
}
.buttons-container{
  justify-content: center;
  width: 30%;
  text-align: center;
}
.header{
  text-align: center;
  height:300px;
  vertical-align: center;
  align-items: center;
}
