<div class="header">
  <div class="d-flex align-items-center justify-content-center" style="height: 300px;">

    <h2> Pożyczka </h2>
  </div>
</div>

<div class="content">
  <div class="d-flex align-items-center justify-content-around buttons-container" style="height: 300px;">
    <div>
      <div style="width:100%; justify-content: center; text-align: center;">
          <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Kwota" aria-describedby="basic-addon1" [(ngModel)]="kwota">
          </div>

          <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Ilość rat" aria-describedby="basic-addon3" [(ngModel)]="raty">
          </div>
      </div>
    </div>
  </div>
  <div style="width: 100%; text-align: center">
    <button class="btn btn-primary" (click)="getLoan()">
      Pobierz pożyczkę
    </button>

    <app-modal-basic></app-modal-basic>
  </div>
</div>

