<div class="header">
  <div class="d-flex align-items-center justify-content-center" style="height: 300px;">

    <h2> Spłata pożyczki </h2>
  </div>
</div>

<div class="content">
  <div class="d-flex align-items-center justify-content-around buttons-container" style="height: 300px;">
    <div>
      <div style="width:100%; justify-content: center; text-align: center;">
        <div>
          Pożyczka nr:
        </div>
        <select class="form-select" aria-label="Default select example">
          <option selected>NLIjfm6VB2b6ydQSC78</option>
        </select>
        <br><br>
        <div>
          Rata nr:
        </div>
        <select class="form-select" aria-label="Default select example">
          <option selected>-NLIjfm7RpyePro7NwXo</option>
          <option value="1">-NLIjfm9l9QbN-e_GeCX</option>
          <option value="2">-NLIjfm9l9QbN-e_GeCY</option>
          <option value="3">-NLIjfmA8l6PRa8kKShC</option>
        </select>
      </div>
    </div>
  </div>
  <div style="width: 100%; text-align: center">
    <!--<button class="btn btn-primary">
      Spłać pożyczkę
    </button>-->

    <app-modal-basic></app-modal-basic>
  </div>
</div>

