/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';

html,
body {
  height: 100vh;
}

.container-app{
  height:81vh;
  margin:0;
  padding: 0;
  width: 100%;
}
.navLink{
  cursor: pointer;
  text-underline: none;

}
